/*
* Copyright (c) 2022 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
          &kp I   &kp R     &kp U   &kp P   &kp Y      &kp O   &kp D   &kp M
  &kp Z   &kp S   &kp E     &kp A   &kp F   &kp B      &kp T   &kp N   &kp H   &kp Q
          &kp X   &kp C     &kp V   &kp K   &kp J      &kp L   &kp G   &kp W
                         &kp BSPC                  &kp SPACE
            >;
        };
    };
};
